<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potensi | Website Dusun Teluk Lombok</title>
    <link rel="stylesheet" href="/styles/potensi.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/LogKabupaten.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="background-container">
        <header>
            <div class="logo-container">
                <img src="/assets/LogKabupaten.png" alt="Logo Dusun Teluk Lombok" class="logo">
                <div class="text-container">
                    <h1>Dusun Teluk Lombok</h1>
                    <p>Kabupaten Kutai Timur</p>
                </div>
            </div>
            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav>
                <ul class="nav-lists">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="profil-dusun.html">Profil Dusun</a></li>
                    <li class="active"><a href="potensi.html">Potensi</a></li>
                    <li><a href="galeri.html">Galeri</a></li>
                    <li><a href="layananumum.html">Layanan Umum</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="potensi" class="hero">
                <h2>POTENSI UNGGULAN DUSUN</h2>
            </section>
            <div class="main-content">
                <div class="card">
                    <aside>
                        <img src="/assets/galeri/Pantai-Teluk-Lombok.jpg" alt="Panorama Pantai Teluk Lombok">
                    </aside>
                    <article>
                        <h3>Pantai Teluk Lombok</h3>
                        <p>Salah satu potensi yang ada di obyek wisata Pantai Teluk Lombok adalah panorama pantai yang
                            menawan.
                            Begitu pandangan dilempar ke segala arah, yang tampak adalah perputaran antara garis pantai
                            dengan pasir putihnya
                            yang landai, berinteraksi dengan air laut yang berkilau dan masih dilengkapi dengan langit
                            yang luas.
                            Dengan kondisi panorama pantai yang menawan, membuat wisatawan tertarik untuk berkunjung ke
                            obyek wisata tersebut. Pantai Teluk Lombok memiliki garis pantai yang sangat panjang sekitar
                            kurang lebih lima kilometer yang berpotensi menampung banyak pengunjung wisatawan, selain
                            itu masyarakat setempat juga memanfaatkan sebagai tempat kegiatan ekonomi yaitu membuka
                            warung makanan seperti nasi campur, gado-gado, bakso, dan aneka jajanan lainnya, dan menjual
                            berbagai souvenir, baik souvenir hasil buatan sendiri maupun souvenir titipan dari agen
                            souvenir. Dengan garis pantai yang sangat panjang memberikan dampak bagi pelaku ekonomi
                            masyarakat sekitar yakni menumbuh pendapatan masyarakat yang dapat meningkatkan taraf hidup
                            masyarakat sekitar dan bagi pemerintah daerah secara langsung berdampak pada peningkatan
                            pendapatan perkapita daerah</p>
                        <a href="/views/LandingPagePotensi/pantai.html"><button class="read-more">Baca Selengkapnya</button></a>
                    </article>
                </div>
            </div>
            <div class="main-content">
                <div class="card">
                    <aside>
                        <img src="/assets/galeri/terumbu karang.jpg" alt="Terumbu Karang Teluk Lombok">
                    </aside>
                    <article>
                        <h3>Terumbu Karang</h3>
                        <p>Obyek wisata Pantai di Dusun Teluk Lombok juga memiliki potensi terumbu karang yang beraneka
                            ragam dan berfungsi sebagai tempat tinggal, berkembang biak bagi ikan, hewan dan tumbuhan
                            laut. Terumbu karang memiliki keindahan yang sangat potensial untuk wisata bahari.
                            Masyarakat disekitar dapat memanfaatkan hal ini dengan menyediakan penyewaan jasa penyelaman
                            dan pusat-pusat penyelaman sehingga pendapatan mereka bertambah.</p>
                        <a href="/views/LandingPagePotensi/terumbu-karang.html"><button class="read-more">Baca Selengkapnya</button></a>
                    </article>
                </div>
            </div>
            <div class="main-content">
                <div class="card">
                    <aside>
                        <img src="/assets/galeri/Hutan-mangrove.jpg" alt="Hutan Mangrove Teluk Lombok">
                    </aside>
                    <article>
                        <h3>Hutan Mangrove</h3>
                        <p>Dusun Teluk Lombok juga memiliki hutan mangrove yang masih terjaga dan terlindungi
                            kelestariannya yang banyak memberikan manfaat seperti mencegah erosi dan abrasi pantai,
                            mendukung ekosistem laut, sebagai tempat perlindungan konservasi tumbuhan dan hewan serta
                            menjanjikan tempat wisata para pengunjung. Dengan adanya wisatawan yang berkunjung ke hutan
                            mangrove akan meningkatkan pendapatan asli daerah melalui tarif parkir dan biaya masuk
                            wisata mangrove.</p>
                        <a href="/views/LandingPagePotensi/mangrove.html"><button class="read-more">Baca Selengkapnya</button></a>
                    </article>
                </div>
            </div>
        </main>
          <footer>
            <div class="footer-content">
                <div class="footer-section">
                    <h3>Pemerintah Dusun Teluk Lombok</h3>
                    <p class="fas fa-map-marker-alt" aria-hidden="true"> Desa Sangkima, Kecamatan Sangatta Selatan, Kabupaten Kutai Timur</p>
                    <p>Provinsi Kalimantan Timur, 37257</p>
                </div>
                <div class="footer-section">
                    <h3>Hubungi Kami</h3>
                    <p class="fas fa-envelope" aria-hidden="true"> dusunteluklombok@gmail.com</p>
                </div>
                <div class="footer-section">
                    <h3>Nomor Telepon/Pengaduan</h3>
                    <p class="fas fa-phone" aria-hidden="true">  0822-6151-3928</p>
                </div>
                <div class="footer-section">
                    <h3>Jelajahi</h3>
                    <p>Website Kemendes</p>
                    <p>Cek DPT Online</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2025 Powered by Kelompok 6 Bina Desa Teknik UNMUL</p>
            </div>
        </footer>
    </div>
    <button id="scrollToTop" class="scroll-to-top">↑</button>
    <script src="/scripts/script.js"></script>
</body>

</html>