<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Dusun | Website Dusun Teluk Lombok</title>
    <link rel="stylesheet" href="/styles/profil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/LogKabupaten.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="background-container">
        <header>
            <div class="logo-container">
                <img src="/assets/LogKabupaten.png" alt="Logo Dusun Teluk Lombok" class="logo">
                <div class="text-container">
                    <h1>Dusun Teluk Lombok</h1>
                    <p>Kabupaten Kutai Timur</p>
                </div>
            </div>
            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav>
                <ul class="nav-lists">
                    <li><a href="/index.html">Home</a></li>
                    <li class="active"><a href="profil-dusun.html">Profil Dusun</a></li>
                    <li><a href="potensi.html">Potensi</a></li>
                    <li><a href="galeri.html">Galeri</a></li>
                    <li><a href="layananumum.html">Layanan Umum</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="vision-mission">
                <div class="card">
                    <h2>VISI</h2>
                    <p>Menjadikan Dusun Teluk Lombok sebagai destinasi wisata berbasis masyarakat yang unggul, lestari,
                        dan mandiri, dengan memanfaatkan keindahan alam Pantai Teluk Lombok serta kekayaan budaya lokal
                        untuk meningkatkan kesejahteraan masyarakat.</p>
                </div>
                <div class="card2">
                    <h2>MISI</h2>
                    <p>1. Pelestarian lingkungan hidup dan potensi alam untuk mewujudkan Dusun wisata yang berwawasan
                        lingkungan.</p>
                    <p>2. Mengembangkan wisata berbasis komunitas dengan mendorong pengelolaan Pantai Teluk Lombok
                        sebagai destinasi wisata menarik melalui pendekatan Community Based Tourism, serta
                        melibatkan masyarakat dalam pengelolaan, promosi, dan penyediaan fasilitas wisata.</p>
                    <p>3. Melestarikan lingkungan dengan menjaga ekosistem pantai, mangrove, dan terumbu karang di
                        kawasan Taman Nasional Kutai melalui praktik wisata ramah lingkungan dan edukasi kepada
                        pengunjung.</p>
                    <p>4. Meningkatkan infrastruktur dan aksesibilitas melalui kolaborasi dengan pemerintah daerah dan
                        pihak terkait untuk memperbaiki akses jalan menuju Dusun Teluk Lombok serta menyediakan
                        fasilitas pendukung wisata seperti gazebo, area parkir, dan sanitasi.</p>
                </div>
            </section>

            <section class="org-chart">
                <h2>BAGAN DUSUN</h2>
                <div class="chart-container">
                    <div class="chart-card">
                        <img src="/assets/Struktur Organisasi Pemerintahan Teluk Lombok.png"
                            alt="Struktur Pemerintah Dusun" class="chart-img">
                    </div>
                </div>
            </section>

            <section class="history">
                <div class="card    ">
                    <h2>SEJARAH DUSUN</h2>
                    <p>Dusun Teluk Lombok terletak di Desa Sangkima, Kecamatan Sangatta Selatan, Kabupaten Kutai Timur,
                        Provinsi Kalimantan Timur. Nama "Teluk Lombok" berasal dari bentuk geografis kawasan pesisir
                        yang
                        menyerupai Lombok, meskipun secara geografis lebih mirip tanjung, sehingga juga dikenal sebagai
                        Tanjung Prancis. Sejak tahun 1970-an, dusun ini awalnya dihuni masyarakat lokal (pribumi), namun
                        banyak yang kemudian pindah ke kota atau daerah lain. Gelombang pendatang, seperti suku Bugis,
                        Mandar, dan Mamuju, datang karena potensi alam di sektor kelautan, pertanian, dan pariwisata.
                    </p>
                </div>
            </section>
          <section class="location">
    <div class="card-location">
        <h2>PETA LOKASI DUSUN</h2>
        <div class="location-details">
            <div class="info-box">
                <p class="info-box-detail"><strong>Batas Dusun:</strong></p>
                <div class="boundary">
                    <div class="boundary-left">
                        <p class="lintang">Utara: 0°23'27"N 117°33'40"E</p>
                        <p>Selatan: 0°21'42"N 117°33'02"E</p>
                    </div>
                    <div class="boundary-right">
                        <p class="lintang">Timur: 0°21′40″N 117°33′10″E</p>
                        <p>Barat: 0°22'35"N 117°32'25"E</p>
                    </div>
                </div>
                <div class="data-row"></div>
                <div class="data-row">
                    <p><strong>Luas Dusun:</strong> <span class="data">9234 m²</span></p>
                </div>
                <div class="data-row">
                    <p><strong>Jumlah Penduduk:</strong> <span class="data">337 Jiwa</span></p>
                </div>
            </div>
            <div class="map-box">
                <img src="/assets/PETA DUSUN TELUK LOMBOK.png" alt="Peta Dusun Teluk Lombok" class="map-img">
            </div>
        </div>
    </div>
</section>
            <section class="community-info">
                <div class="card">
                    <h2>INFORMASI MASYARAKAT DUSUN</h2>
                    <p>Dusun Teluk Lombok terbagi menjadi dua Rukun Tetangga, yaitu RT 15 dan RT 21. RT 15 memiliki 212
                        warga, terdiri dari 91 perempuan dan 121 laki-laki, sedangkan RT 21 dihuni oleh 125 warga,
                        dengan 45 perempuan dan 80 laki-laki. Mayoritas penduduk bekerja sebagai nelayan, petani,
                        berkebun, ibu rumah tangga, dan wirausaha. Kondisi ekonomi masyarakat sempat mengalami
                        kemunduran selama masa pandemi dan akibat kemunculan buaya di sekitar pantai. Selain itu, warga
                        Dusun Teluk Lombok juga mengembangkan usaha mikro, kecil, dan menengah (UMKM) seperti produksi
                        amplang Coka2, batu bara, dan teripang.</p>
                </div>
            </section>
        </main>

        <footer>
            <div class="footer-content">
                <div class="footer-section">
                    <h3>Pemerintah Dusun Teluk Lombok</h3>
                    <p class="fas fa-map-marker-alt" aria-hidden="true"> Desa Sangkima, Kecamatan Sangatta Selatan,
                        Kabupaten Kutai Timur</p>
                    <p>Provinsi Kalimantan Timur, 37257</p>
                </div>
                <div class="footer-section">
                    <h3>Hubungi Kami</h3>
                    <p class="fas fa-envelope" aria-hidden="true"> dusunteluklombok@gmail.com</p>
                </div>
                <div class="footer-section">
                    <h3>Nomor Telepon/Pengaduan</h3>
                    <p class="fas fa-phone" aria-hidden="true"> 0822-6151-3928</p>
                </div>
                <div class="footer-section">
                    <h3>Jelajahi</h3>
                    <p>Website Kemendes</p>
                    <p>Cek DPT Online</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2025 Powered by Kelompok 6 Bina Desa Teknik UNMUL</p>
            </div>
        </footer>
    </div>
    <button id="scrollToTop" class="scroll-to-top">↑</button>
    <script src="/scripts/script.js"></script>
</body>

</html>